services:
  backend:
    build:
      context: ./backend
      dockerfile: Dockerfile
    image: my-quasar-backend:latest
    ports:
      - "3000:3000"
    environment:
      - NODE_ENV=production
      - PORT=3000
      - DATABASE_URL=postgresql://postgres.gqbzzylaeankgremydhd:0922809619@aws-1-ap-southeast-1.pooler.supabase.com:5432/postgres
    volumes:
      - ./backend/logs:/app/logs
    restart: unless-stopped

  frontend:
    build:
      context: ./frontend
      dockerfile: Dockerfile
    image: my-quasar-frontend:latest
    ports:
      - "8080:80"
    depends_on:
      backend:
        condition: service_healthy
    restart: unless-stopped
